{% extends 'base.html' %}

{% block content %}

<h2>📘 About This App</h2>
<br/><br/>
<p>Stock Market Portfolio is a simple web application that lets you manage and track your stock investments. With this app, you can:</p>
<ul>
    <li>✅ Save stock ticker symbols to your personal portfolio</li>
    <li>➕ Add or ❌ delete stocks from your portfolio anytime</li>
    <li>🔍 Search for stock data using ticker symbols</li>
    <li>📊 Track stock prices with real-time market data</li>
    <li>📅 View daily open, high, low, close prices and volume</li>
    <li>📈 Check dividends and stock splits for historical analysis</li>
</ul>
{% endblock %}
